.button {
  font-size: 15px;
  border-radius: 2px;
  padding: 7px 20px;
  outline: none;
  border: 1px solid #d84e55;
  background-color: #d84e55;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  color: white;
}
.button:hover {
  color: white;
  opacity: 80%;
}
.button_light {
    border: 0.5px solid #3e3e52;
    background-color: gray;
    opacity: 50%;
}
.button_light:hover {
    background-color: #EFE7E7;
    color: black;
}
