.container {
  margin-top: 175px;
  justify-content: center;
}
.grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #f7f7f7;
  border: 1px solid silver;
  border-radius: 5px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
.seat {
  width: 70px;
  border-radius: 1.5px;
  margin: 10px auto;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  background-color: white;
}
.seat_margin {
  margin: 25px auto;
}
.seat_label {
  border-bottom: 1px solid;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}
.seat_label:hover {
  background-color: #d84e55;
  color: #f7f7f7;
  border-bottom: 1px solid black;
}

.margin {
  margin-left: 10px;
}

.seat_label_color {
  background-color: gainsboro;
  border-bottom: 1px solid;
  font-size: 15px;
  padding: 10px;
}