.btn_group button {
  background-color: #d84e55;
  border: 1px solid #d84e55;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  display: block;
}

.btn_group button:active{
  background-color: ivory;
}

.btn_group button:focus{
  background-color: white;
  color: #d84e55;
  border: 1px solid #d84e55;
}
.btn_group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn_group button:hover {
  background-color: #EFE7E7;
  color: #d84e55;
}