.btn_group button {
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid #d84e55;
  background-color: #d84e55;
  padding: 7px 20px;
  /* outline: none; */
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  float: left;
  margin: 5px 0px;
}

.btn_group button:hover {
  color: white;
}

/* Clear floats (clearfix hack) */
.btn_group:after {
  content: "";
  clear: both;
  display: table;
}

.btn_group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn_group button:hover {
  background-color: #d84e55;
}