.btnGroup button {
  background-color: #EFE7E7;
  border: 1px solid #d84e55;
  color: #000000;
  padding: 10px 24px;
  cursor: pointer;
  display: block;
}
.btnGroup button:focus { 
  outline: none !important;
  border-color: #000000;
}
.btnGroup button:active{
  background-color: ivory;
}

.btnGroup button:focus{
  background-color: white;
  color: #d84e55;
  border: 1px solid #d84e55;
}
.btnGroup button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btnGroup button:hover {
  background-color: #EFE7E7;
  color: #d84e55;
}